{% extends "bootstrap/base.html" %}

{% block head %}
{{super()}}
<link href="{{ url_for('static', filename='images/favicon.png') }}" rel="shortcut icon" type="image/png"/>
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bungee+Shade|Roboto+Mono">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
{% endblock %}


{% block content%}
{{ super() }}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('main.home') }}"><i class="glyphicon glyphicon-tree-conifer"></i>Roadrunner</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% if not current_user.is_authenticated %}
                <li>
                    <a href="{{ url_for('auth.signup') }}">
                        <i class="glyphicon glyphicon-envelope"></i>
                        Signup
                    </a>
                </li>
                {% endif %}
                {% if not current_user.is_authenticated %}
                <li>
                    <a href="{{ url_for('auth.login') }}">
                        <i class="glyphicon glyphicon-log-in"></i>
                        Login
                    </a>
                </li>
                {% endif %}
            </ul>
            {% if current_user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ url_for('main.reservation') }}">
                        New reservation
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        {{ (current_user.first_name).title() }}
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">

                        <li>
                            <a href="{{ url_for('main.profile') }}">
                                <i class="glyphicon glyphicon-user"></i>
                                My Reservations
                            </a>
                        </li>

                        <li>
                            <a href="{{ url_for('auth.logout') }}">
                                <i class="glyphicon glyphicon-log-out"></i>
                                Logout
                            </a>
                        </li>

                    </ul>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>

{% endblock %}