{% extends "base.html" %}

{% block title %} Checkout {% endblock %}

{% block content %}
<div class="container">
    {{ super() }}
    <div class="jumbotron">
        <h1>Reservation Checkout</h1>
        <div class="row">
            <div class="col-md-12">

                <div class="panel panel-default">
                    <div class="panel-body">
                        <form action="{{ url_for('main.confirmation') }}" method="post">

                            <input name="vehicle" type="hidden" value="{{ vehicle.id }}">

                            <h2>{{ vehicle.model }}</h2>

                            <p class="lead">{{ vehicle.make }}</p>
                            <p>Price/day: <strong id="price">$ {{ price }}</strong></p>
                            <p>
                                Pickup Date
                                <input id="pickup_date" name="pickup_date" type="date">
                            </p>
                            <p>
                                Dropoff Date
                                <input id="dropoff_date" name="dropoff_date" type="date" onchange="calc()">
                            </p>
                            <p id="total"></p>
                            <p>
                                <button class="btn btn-success" type="submit">Reserve Now</button>
                            </p>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script
        src="https://code.jquery.com/jquery-3.4.0.min.js"
        integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
        crossorigin="anonymous"></script>

<script>

function calc(){
    var p = $("#pickup_date").val();
    var d = $("#dropoff_date").val();

    p = parseInt(p.split('-')[2]);
    d = parseInt(d.split('-')[2]);

    price = parseInt($("#price").val());

    days = d-p;

    console.log(days * price);

    $("#total").innerHTML = total;
}

</script>

{% endblock %}