{% extends "base.html" %}

{% block title %} Profile {% endblock %}

{% block content %}
<div class="container">
    {{ super() }}

    <div class="jumbotron">
        <h1>My Reservations</h1>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                    <th>Vehicle</th>
                    <th>Pickup Location</th>
                    <th>Reserved Date</th>
                    <th>Pickup Date</th>
                    <th>Dropoff Date</th>
                    <th>Action</th>
                    </thead>
                    <tbody>

                    {% for reservation in reservations %}
                    <form action="/update" method="post">

                        <input name="r" type="hidden" value="{{ reservation.id }}">

                        <tr id="{{reservation.id}}">
                            <td>{{ reservation.vehicle.make }}, {{ reservation.vehicle.model }}</td>
                            <td>{{ reservation.office.name }}</td>
                            <td> {{ reservation.reserved_date }}</td>
                            <td> {{ reservation.pickup_date }}</td>
                            <td> {{ reservation.dropoff_date }}</td>
                            <td>
                                <button class="btn btn-warning" type="submit">Update</button>
                            </td>
                            <td>
                                <button class="btn btn-danger" onclick="del_res({{reservation.id}})">Delete</button>
                            </td>
                        </tr>
                    </form>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4">
                <a class="btn btn-success" href="{{ url_for('main.reservation') }}"> New Reservation </a>
            </div>
        </div>


    </div>
    <script
            crossorigin="anonymous"
            integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
            src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
    <script>
            function del_res(res){
                $("#"+res).remove()
                $.ajax({

                url : '{{url_for("main.delreservation") }}',
                type : 'GET',
                data : {
                    'res' : res
                },
                dataType:'json'
            });
            }

    </script>

</div>
{% endblock %}