{% extends "base.html" %}

{% block title %} Profile {% endblock %}

{% block content %}
<div class="container">
    {{ super() }}

    <div class="jumbotron">
        <h1>My Reservations</h1>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                    <th>Vehicle</th>
                    <th>Pickup Location</th>
                    <th>Reserved Date</th>
                    <th>Pickup Date</th>
                    <th>Dropoff Date</th>
                    </thead>
                    <tbody>
                    {% for reservation in reservations %}
                    <tr>
                        <td>{{ reservation.vehicle.make }}</td>
                        <td>{{ reservation.vehicle.model }}</td>
                        <td>{{ reservation.office.name }}</td>
                        <td> {{ reservation.reserved_date }}</td>
                        <td> {{ reservation.pickup_date }}</td>
                        <td> {{ reservation.dropoff_date }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4">
                <a class="btn btn-success" href="{{ url_for('main.reservation') }}"> New Reservation </a>
            </div>
        </div>


    </div>

</div>
{% endblock %}